*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
   background-color:  rgb(13, 32, 38);
}

.container{
    background-color: rgb(33, 63, 72);
    width: 90%;
    max-width: 50em;
    padding: 5em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 2.5em 2em;
}
.container button{
    font-family: "Poppins", sans-serif ;
    font-size: 1.2em;
    background-color: rgb(96, 150, 169);
    border: none;
    border-radius: 0.5em;
    outline: none;
    color: white;
    padding: 0.8em;
    
}
