#header{
   width: 300px;
   margin: auto; 
}
h1{

    color: green;
}
#forms {
    position: absolute;
    top: 350px;
    left: 150px;
    
}
input[type="submit"]{
    margin: auto;
    width: 300px;
    color: black;
    background-color: green;
}