*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
   background-color:  rgb(26, 55, 65);
}

.container{
    background-color: rgb(22, 46, 53);
    width: 90%;
    max-width: 50em;
    padding: 5em 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.5em;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  gap: 2.5em 2em;
}
.container button{
    font-family: "Poppins", sans-serif ;
}
