#header{
   width: 300px;
   margin: auto; 
}
body{
    background-color: darkgreen;
}
h1{

    color: rgb(254, 255, 254);
}
#forms {
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 350px;
    left: 150px;
    
}
input[type="submit"]{
    font-weight: normal;
    font-family: sans-serif;
    margin: auto;
    width: 300px;
    color: black;
    background-color: green;
    padding: 10px 20px
}